body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}
.container{
  width: 1320px;
  margin: 0 auto;
  align-items: center;
}
header {
    background-color: #181818;
    display: flex;
    height: 80px;
    align-items: center;
  }
  
  
  .logo h1{
    color: white;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
  }
  
  .nav-menu{
    width: 1800px;
    margin: 0 auto;
  }
  
  .menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
  }
  
  .knopki{
    display: flex;
    color: white;
    
  }
  
  .knopki li{
    margin-left: 25px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'PP Pangram Sans', sans-serif;
  }
   
  
  .media{
    display: flex;
    li{
      margin-left: 15px;
    }
  }
  
  
  .fotop{
      display: flex;  
      li{
        margin-left: 10px;
    }
  }
  
  .nomer{
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Unbounded', sans-serif;
  }
  
  .button1{
    button{
      border-radius: 8px;
      padding: 13px 20px;
      color: white;
      background-color: black;
      border-color: white;
      font-size: 13px;
      font-weight: 700;
      font-family: 'PP Pangram Sans', sans-serif;
    }
  }
ul{
    list-style: none;
}
.block1{
    background-image: url(img/бг\ \(5\).png);
    width: 1860px;
    height: 966px;
    text-align: center;
    margin-top: -75px;
}
.text{
  color: white;
  font-size: 45px;
  font-family: 'Unbounded', sans-serif;
  text-align: center;
  h1{
  padding-top: 94px;
  font-size: 90px;
  p{
  font-size: 24px;
  }}} 
.cifirki{
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    color: white;
    margin-top: 70px;
    text-align: left;
    font-family: 'PP Pangram Sans';
    li{
    margin-right: 15px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
  }}
.block1 hr{
  width: 1350px;
  margin-top: 50px;
}
.block2{
  position: absolute;
  left: 15%;
  bottom: -25%;
  width: 1320px;
  height: 271px;
  background-color: white;
  justify-content: center;
  border-radius: 35px;
  h1{
  margin-top: 25px;
  margin-left: 45px;
  }}
.cifri{
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
}
.from {
  display: flex;
  margin-right: 50px;
  margin: 50px;
}
.mashin ul {
  column-count: 3;
  column-gap: 20px;
  width: 100%; 
}

.mashin li {
  width: 320px;
}
.catal img{
  width: 286px;
  height: 153px;
}
.forma{
  width: 242px;
  height: 76px;
  border-radius: 10px;
  margin-right: 25px;
}
.opis{
  display: flex;
  flex-direction: row;
}

.knopkaaa{
  display: flex;
  flex-direction: row;
}
.knopkaaa button{
  background-image: linear-gradient(#E3D293,#9F7437);
  color: white;
  width: 135px;
  height: 40px;
  border: 0px;
  font-family: 'PP Pangram Sans';
}
.knopkaaa p{
  padding-left:  25px;
}


.gold{
  background-image: linear-gradient(#E3D293,#9F7437);
  width: 201px;
  height: 79px;
  border-radius: 10px;
  color: white;
  border: white;
  margin-top: -15px;
}
.h{
  margin-top: 12px;
}
.form{
  column-count: 3;
  column-gap: 50px;
  height: 75px;
}
.forma{
  text-align: center;
}
.avtopark{
 margin: 55px;
 margin-left: 200px;
}
.avtopark h1{
  font-size: 48px;
}
.block7 li{
    display: flex;
}
.b{
    display: block;
    padding-left: 20px;
}
.block7 p{
    margin-bottom: -10px;
}

.block7 ul {
    column-count: 2;
    column-gap: 20px;
    width: 100%; 
}

.block7 li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 320px;
}
.block p{
    margin: 0;
}
.catalog{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.avtopark{
  margin-top: 200px;
}
.dark{
  display: flex;
  width: 204px;
  height: 74px;
  background-color: #1F1F1F;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.svet{
  background-color: #FFFFFF;
  width: 204px;
  height: 74px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grey{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 74px;
  background-color: #EAEAEA;
  border-radius: 15px;
}
.catalog img{
  margin-right: 25px;
}
.textov{
  margin-left: 50px;
  display: flex;
}
.smtr{
  width: 124px;
  border: solid 4px #1F1F1F;
  margin-left: 45px;
  height: 44px;
  margin-top: 44px;
  border-radius: 15px;
}

.odin {
  width: 275px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  flex-direction: column;
  border-radius: 4px;

}
.odin h4{
  margin-left: 25px;
}
.odin hr{
  width: 80%;
}
.opis p{
  margin-left: 25px;
}
.knopkaaa{
  margin-left: 25px;
}
