body{
    margin: 0;
    padding: 0;
}
header {
    background-color: #181818;
    display: flex;
    height: 80px;
    align-items: center;
  }
  
  
  .logo h1{
    color: white;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
  }
  
  .nav-menu{
    width: 1800px;
    margin: 0 auto;
  }
  
  .menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
  }
  
  .knopki{
    display: flex;
    color: white;
    
  }
  
  .knopki li{
    margin-left: 25px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'PP Pangram Sans', sans-serif;
  }
   
  
  .media{
    display: flex;
    li{
      margin-left: 15px;
    }
  }
  
  
  .fotop{
    display: flex;  
  }
  
  .fotop li{
    margin-left: 10px;
  }
  
  .nomer{
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Unbounded', sans-serif;
  }
  
  .button1{
    button{
      border-radius: 8px;
      padding: 13px 20px;
      color: white;
      background-color: black;
      border-color: white;
      font-size: 13px;
      font-weight: 700;
      font-family: 'PP Pangram Sans', sans-serif;
    }
  }
ul{
    list-style: none;
}
.block1{
    background-image: url(img/бг\ \(5\).png);
    width: 1860px;
    height: 966px;
    text-align: center;
    margin-top: -56px;
}
.text{
  color: white;
  font-size: 45px;
  font-family: 'Unbounded', sans-serif;
  text-align: center;
}
.cifirki{
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    color: white;
    margin-top: 70px;
    text-align: left;
    font-family: 'PP Pangram Sans';
}
.cifirki li{
    margin-right: 15px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.block1 hr{
  width: 1350px;
  margin-top: 190px;
}
.cifri{
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
}
.block7 li{
    display: flex;
}
.b{
    display: block;
    padding-left: 20px;
}
.block7 p{
    margin-bottom: -10px;
}

.block7 ul {
    column-count: 2;
    column-gap: 20px; /* Adjust the gap as needed */
    width: 100%; /* Make columns take full width */
}

.block7 li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 320px;
}
.block p{
    margin: 0;
}
