body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    max-width: 1920px;
    overflow-x: hidden;
}

.container{
  width: 1320px;
  margin: 0 auto;
  align-items: center;
}
header {
    background-color: #181818;
    display: flex;
    height: 80px;
    align-items: center;
  }
  
  
  .logo h1{
    color: white;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
  }
  
  .nav-menu{
    width: 1800px;
    margin: 0 auto;
  }
  
  .menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
  }
  
  .knopki{
    display: flex;
    color: white;
    
  }
  
  .knopki li{
    margin-left: 25px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'PP Pangram Sans', sans-serif;
  }
   
  
  .media{
    display: flex;
    li{
      margin-left: 15px;
    }
  }
  
  
  .fotop{
      display: flex;  
      li{
        margin-left: 10px;
    }
  }
  
  .nomer{
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Unbounded', sans-serif;
  }
  
  .button1{
    button{
      border-radius: 8px;
      padding: 13px 20px;
      color: white;
      background-color: black;
      border-color: white;
      font-size: 13px;
      font-weight: 700;
      font-family: 'PP Pangram Sans', sans-serif;
    }
  }
ul{
    list-style: none;
}
.promo{
    background-image: url(img/бг\ \(5\).png);
    width: 1860px;
    height: 966px;
    text-align: center;
    margin-top: -75px;
}
.text{
  color: white;
  font-size: 45px;
  font-family: 'Unbounded', sans-serif;
  text-align: center;
  h1{
  padding-top: 94px;
  font-size: 90px;
  p{
  font-size: 24px;
  }}} 
.cifirki{
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    color: white;
    margin-top: 65px;
    text-align: left;
    font-family: 'PP Pangram Sans';
    li{
    margin-right: 15px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
  }}
.promo hr{
  width: 1350px;
  margin-top: 50px;
}
.Order{
  position: absolute;
  left: 15%;
  bottom: -25%;
  width: 1320px;
  height: 271px;
  background-color: white;
  justify-content: center;
  border-radius: 35px;
  h1{
  margin-top: 25px;
  margin-left: 4opx;
  }}
.cifri{
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
}
.from {
  display: flex;
  margin-right: 50px;
  margin: 50px;
}
.mashin ul {
  column-count: 3;
  column-gap: 20px;
  width: 100%; 
}

.mashin li {
  width: 320px;
}
.catal img{
  width: 286px;
  height: 153px;
}
.forma{
  width: 242px;
  height: 76px;
  border-radius: 10px;
  margin-right: 25px;
}
.opis{
  display: flex;
  flex-direction: row;
}

.knopkaaa{
  display: flex;
  flex-direction: row;
}
.knopkaaa button{
  background-image: linear-gradient(#E3D293,#9F7437);
  color: white;
  width: 135px;
  height: 40px;
  border: 0px;
  font-family: 'PP Pangram Sans';
}
.knopkaaa p{
  padding-left:  25px;
  font-family: 'PP Pangram Sans'
}


.gold{
  background-image: linear-gradient(#E3D293,#9F7437);
  width: 201px;
  height: 79px;
  border-radius: 10px;
  color: white;
  border: white;
  margin-top: -15px;
}
.h{
  margin-top: 12px;
}
.form{
  column-count: 3;
  column-gap: 50px;
  height: 75px;
}
.forma{
  text-align: center;
}
.avtopark{
 margin: 55px;
 margin-left: 200px;
}
.avtopark h1{
  font-size: 48px;
}
.prichini li{
    display: flex;
}
.b{
    display: block;
    padding-left: 20px;
    width: 184px;
}
.prichini p{
    margin-bottom: -10px;
}

.prichini ul {
    column-count: 2;
    column-gap: 20px;
    width: 100%; 
}

.prichini li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 320px;
}
.f{
  font-size: 48px;
  width: 400px;
  padding-left: 40px;
}
.block p{
    margin: 0;
}
.catalog{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.avtopark{
  margin-top: 200px;
}
.dark{
  display: flex;
  width: 204px;
  height: 74px;
  background-color: #1F1F1F;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.svet{
  background-color: #FFFFFF;
  width: 204px;
  height: 74px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svet:hover{
  background-color: gray;
}
.grey{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 74px;
  background-color: #EAEAEA;
  border-radius: 15px;
}
.catalog img{
  margin-right: 25px;
}
.textov{
  margin-left: 50px;
  display: flex;
}
.smtr{
  width: 124px;
  border: solid 4px #1F1F1F;
  margin-left: 45px;
  height: 44px;
  margin-top: 44px;
  border-radius: 15px;
}
.katal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-count: 2;


  li{
      display: flex;
      width: 401px;
      height: 483px;
      background-color: #FFFFFF;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      margin-top: 30px;
      margin-left: 20px;
      

      img{
          object-fit: cover;
          height: 200px;
          width: 286px;
          
      }

      h4{
          font-size:  20px;
          font-family: 'PP Pangram Sans';
          padding-top: 20px;
          padding-left: 40px;
      }
      .text-s2{
          display: flex;
          flex-direction: row;
          padding-top: 15px;
          padding-left: 40px;
          button{
            border: none; outline: none;
          }
          img{
              width: 25px;
              height: 18px;
              padding-left: 15px;
              padding-right: 15px;
          }

          p{
              font-size: 13px;
              font-family: 'PP Pangram Sans';
              color: #707070;
          }
          .pa{
              padding-left: 15px;
          }
          
      }

      .cen{
          display: flex;
          flex-direction: row;
          padding-top: 15px;
          padding-left: 40px;
          button{
              width: 135px;
              height: 40px;
              color: white;
              border-radius: 6px;
              border: solid 0px ;
              font-family: 'PP Pangram Sans';
              font-size: 12px;
              background: linear-gradient(to top right,#9F7437, #E3D293,);
          }

          span{
              font-size: 20px;
              color: black;
          }

          p{
              font-size: 13px;
              font-family: 'PP Pangram Sans';
              color: #707070;
              padding-left: 50px;
              padding-top: 5px;

          }
      }
      .img-kat{
          display: flex;
          align-items: center;
          justify-content: center
          
      }

      hr{
          width: 80%;
          margin-top: 20px;
          margin-left: 10%;
          color: #EBEBEB;
      }

  }
}

.knopkaaa{
  margin-left: 25px;
}
.textovic{
  margin-left: 50px;
  margin-top: 125px;
  font-family: 'PP Pangram Sans';
}
.textovic h1{
  font-size: 28px;
  width: 1208px;
  font-family: 'PP Pangram Sans';
}
.textovic p{
  font-size: 16px;
  color: grey;
  width: 1208px;
}
.rental{
  background-image: url(img/бг\ \(4\).png);
  background-repeat: no-repeat;
  width: 100%;
  height: 764px;
  color: white;
    h1{
      font-size: 48px;
      padding-top: 120px;
      font-family: "Unbounded";
    }
    h3{
      width: 760px;
    }
    .greyy{
      color: gray;
    }
    .white{
      color: white;
    }
    .opisan{
      font-family: 'PP Pangram Sans';
      margin-top: 10px;
      font-size: 28px;

    }
    .dom{
      display: flex;
      justify-content: space-around;

    }
    .opisan p{
      width: 760px;
      font-size: 18px;
    }
    button{
      width: 424px;
      height: 76px;
      border-radius: 15px;
      margin-top: 15px;
      background: rgba(0, 0, 0, 0);
      color: white;
      border-color: white;
    }
    .pole{
      width: 424px;
      height: 76px;
      border-radius: 15px;
      margin-top: 15px;
      padding-left: 15px;
    }
    .formaa{
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
    .razmer{
      width: 400px;
      font-size: 14px;
    }
}
.premium{
    .arenda{
      display: flex;
      justify-content: space-around;
    }
    img{
      width: 648px;
      height: 390px;
    }
    h1{
      font-size: 48px;
      margin-top: 40px;
      padding-bottom: 40px;
      font-family: "Unbounded";
    }
    .bl1{
      background-color: white;
      width: 648px;
      border-radius: 25px;
      height: 584px;
      border-radius: 15px;
      }
    .bl1 h2{
      font-family: 'PP Pangram Sans';
      font-size: 20px;
      padding-left: 45px;
      padding-top: 25px;
    }
    .bl1 p{
      font-family: 'PP Pangram Sans';
      font-size: 16px;
      width: 402px;
      padding-left: 45px;
      padding-top: 25px;
    }
}
.steps{
    .shagi{
      display: flex;
      justify-content: space-around;
    }
    .ger{
      width: 711px;
      text-align: center;
      font-size: 48px;
      font-family: "Unbounded";
      margin-bottom: 50px;
    }
    .bl2{
      background-color: white;
      width: 424px;
      height: 272px;
      display: flex;
      align-items: center;
      padding-top: -25px;
      border-radius: 15px;
    }
    .bl2 h5{
      font-size: 20px;
      font-family: 'PP Pangram Sans';
      padding-left: 45px;
    }
    .bl2 p{
      width: 234px;
      font-size: 16px;
      font-family: 'PP Pangram Sans';
      padding-left: 45px;
      color: gray;
    }
    .b{
      padding-left: 45px;
    }
    .bl2 span{
      color: #181818;
    }
}
.skidocki{
  background-image: url(img/бг\ \(6\).png);
  background-repeat: no-repeat;
  width: 100%;
  height: 820px;
  color: white;
    .skidki{
      display: flex;
    }
    .bl3 h1{
      font-size: 48px;
      font-family: "Unbounded";
      padding-top: 25px;
    }
    .greyy{
      font-size: 18px;
      color: gray;
      font-family: 'PP Pangram Sans';
      width: 648px;
    }
    .bl3 p{
      font-size: 28px;
      font-family: 'PP Pangram Sans';
      width: 648px;
    }
    .bl3{
      margin-right: 100px;
      margin-top: 60px;
    }
    .bl4{
      width: 536px;
      background-color: white;
      color: black;
      height: 448px;
      border-radius: 25px;
    }
    .bl4 h3{
      font-size: 20px;
      font-family: 'PP Pangram Sans';
      padding-left: 25px;
      padding-top: 15px;
    }
    .bl4 p{
      color: gray;
      width: 394px;
      font-family: 'PP Pangram Sans';
      padding-left: 25px;
    }
}
.nashiuslug{
  margin-top: 40px;
    .uslygi{
      display: flex;
      padding-top: 50px;
    }
    .bl5 p{
      font-size: 20px;
      width: 263px;
      font-family: 'PP Pangram Sans';
    }
    .bl5{
    padding-left: 25px;
    font-family: 'PP Pangram Sans';
    }
    .usl{
      font-size: 48px;
      font-family: 'PP Pangram Sans';
      padding-left: 65px;
      padding-top: 25px;
    }
    .f{
      font-family: "Unbounded";
    }
}
.inostran{
  background-image: url(img/bg\ \(14\).png);
  background-repeat: no-repeat;
  color: white;
  height: 1459px;
    .angl{
      display: flex;
      padding-top: 90px;

    }
    .rus{
      display: flex;
      padding-top: 50px;
    }
    .s{
      font-size: 48px;
      font-family: "Unbounded";
    }
    .p{
      font-size: 28px;
      font-family: 'PP Pangram Sans';
    }
    .greyyy{
      color: gray;
      font-size: 18px;
      font-family: 'PP Pangram Sans';
    }
    .photo-s9{
      width: 560px;
      height: 580px;
    }
    .text-s9{
      width: 648px;
      padding-right: 60px;
    }
    .greyyyy{
      color: gray;
      font-size: 18px;
      font-family: 'PP Pangram Sans';
    }
    .text-s8{
      width: 648px;
      padding-left: 60px;
    }
    .bel{
      color: white;
    }
    .li{
      display: flex;
      padding-left: 15px;
    
    }
    .be{
      display: flex;
    }
    .iconki{
      padding-top: 20px;
      padding-right: 15px;
      padding-left: 15px;
    }
    .li p{
      font-size: 13px;
      font-family: 'PP Pangram Sans';
      width: 152px;
    }
}
.logotip{
  width: 1860px;
  background-color: white;
  border-radius: 10px;
  height: 280px;
  .s10{
      display: flex;
      justify-content: space-between;
      padding-top: 60px;
      align-items: center;
  }
}
.voprosi{
  padding-top: 90px;
  .s11{
      display: flex;

      h1{
          padding-top: 15px;
          font-family: 'Unbounded';
          font-size: 48px;
          color: #1F1F1F;
      }

      p{
          padding-top: 50px;
          font-family: 'PP Pangram Sans';
          font-size: 18px;
          color: #9F9F9F;
          width: 499px;
      }

      b{
          padding-top: 40px;
          font-family: 'Unbounded';
          font-size: 20px;
          color: #1F1F1F;
          padding-bottom: 60px;
      }

      .fot{
          margin-top:  20px;
          background-color: #FFFFFF;
          width: 448px;
          height: 76px;
          border-radius: 10px;
          border: solid 0px;
          padding-left: 20px;
      }

      button{
          margin-top: 20px;
          width: 468px;
          height: 76px;
          background-color: #1F1F1F;
          border-radius: 10px;
          color: #FFFFFF;
      }

      .galoch{
          padding-top: 0px;
          font-size: 14px;
          width: 321px;
          padding-left: 10px;
          span{
              color: #131313;
          }
      }

      .forms{
          padding-top: 30px;
          display: flex;
      }

      .s11-text{
          display: flex;
          flex-direction: column;
          padding-left: 80px;
      }
  }
}
footer{
  padding-top: 90px;
  background-color: #1D1D1D;


  .fot{
      display: flex;
      justify-content: space-between;
      color: #FFFFFF;

      .fot1{
          h1{
              font-family: 'Inter';
              font-size: 40px;
          }

          .nom{
              padding-top: 70px;
              display: flex;
              p{
                  font-size: 12px;
                  font-family: 'PP Pangram Sans';
                  color: #AFAFAF;
              }
              h3{
                  font-size: 18px;
                  font-family: 'Unbounded';
              }

              button{
                  border-radius: 8px;
                  margin-left: 20px;
                  width: 149px;
                  height: 44px;
                  color: #FFFFFF;
                  background-color: #1D1D1D;
                  border: solid 3px #FFFFFF;
              }
          }

          .adress{
              font-family: 'PP Pangram Sans';
              font-size: 15px;
              color: #AFAFAF;
              padding-top: 30px;
          }

          .poch{
              padding-top: 10px;
              padding-left: 22vh;
              font-family: 'PP Pangram Sans';
              font-size: 15px;
              color: #FFFFFF;
          }

          .soceti{
              padding-top: 30px;
              padding-left: 27vh;
              font-family: 'PP Pangram Sans';
              .p2{
                  padding-left: 7px;
              }
              
          }
          }
      }

      .fot2{
          ul{
              display: flex;
          }
          ul p{
            color: gray;
            font-family: 'PP Pangram Sans';
          }
          .g2{
            padding-left: 35px;
          }
          .g3{
            padding-left: 35px;
          }
          p:hover{
            opacity: 1;
            color: white;
          }
      }
      .chay{
        display: flex;
        justify-content: space-between;
      }
  }
.p:hover{
  opacity: 1;
  color: white;
}
.greyy{
  color: gray;
}
@media screen and (max-width: 320px ) {
  body{
    max-width: 320px;
  }
  .container{
    width: 290px;
  }
  header{
    .no-vid{
      display: none;
    }
    .logo h1{
      font-size: 20px;
      width: 98px;
      font-weight: 100;
    }
  }
  .promo{
    background-image: url(img/бг\ \(7\).png);
    background-repeat: no-repeat;
    width: 320px;
    margin-top: -30px;
  }
  .promo hr{
    margin-top: 20px;
    width: 280px;
  }
 
  .text p{
    font-size: 16px;
    width: 280px;
    margin-left: 25px;
    display: block;
    text-align: start;
    justify-content: start;
  }
  .text h1{
    width: 280px;
    font-size: 32px;
    display: block;
    text-align: start;
    justify-content: start;
    width: 280px;
    padding-top: 30px;
    margin-left: 25px;
   }
  .cifirki{
    display: block;
    text-align: start;
    justify-content: start;
    width: 280px;
    margin-top: -15px;
  }
  .b{
    font-size: 15px;
  }
  .cifirki li{
    margin-left: 0px;
    justify-content: start;
  }
  .Order{
    width: 320px;
    height: 545px;
    left: 0px;
    bottom: -35%;
    border-radius: 0px;
  }
  .from {
    display: block;
    margin-right: 50px;
    margin: 50px;
  }
  .form{
    height: 200px;
    column-count: 2;
  }
  .forma{
    padding-bottom: 0px;
    width: 240px;
    height: 56px;
    margin-bottom: 30px;
  }
  .gold{
    width: 240px;
    height: 56px;
  }
  .no-vid{
    display: none;
  }
  .avtopark{
    margin-left: 0px;
  }
 .avtopark h1{
  font-size: 18px;
 }
 .smtr{
  margin-top: 15px;
  margin-left: 0px;
 }
 .dark{
  width: 159px;
  height: 36px;
  margin-left: 0px;
 }
 .s2{
  margin-left: 5px;
  width: 129px;
  height: 36px;
 }
 .s1{
  margin-left: 5px;
  width: 112px;
  height: 36px;
  
 }
 .s3{
  margin-left: 5px;
  width: 143px;
  height: 36px;
 }
 .s4{
  margin-left: 5px;
  width: 120px;
  height: 36px;
 }
 .catalog{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 290px;
  height: 136px;
 }
 ul{
  padding-left: 15px;
 }
 .catalog img{
  margin-right: 10px;
 }
 .katal{
  display: flex;
  flex-direction: column;
  li{
      display: flex;
      margin-left: 0px;
      width: 280px;
      height: 391px;


        .cen{
          display: flex;
          flex-direction: column;
          padding-left: 35px;
        
          button{
            width: 220px;
            height: 40px;
          }

          p{
            padding-left: 45px;
            padding-top: 15px;
            span{
                font-weight: 800;
            }
          }
        }

      .text-s2{
          p{
              font-size: 12px;
              width: 110px;
              height: 20px;
          }

          .pa{
              width: 73px;
          }

          padding-left: 35px;
      }

      h4{
          width: 146px;
          height: 20px;
          font-size: 16px;
      }

      img{
          width: 204px;
          height: 109px;
      }
  }

  .vis{
      display: none;
  }
}
.textovic{
  h1{
    font-size: 18px;
    width: 280px;
    margin-left: -30px;
  }
  p{
    font-size: 14px;
    width: 280px;
    margin-left: -30px;
  }
}
.rental{
  background-image: url(img/бг\ \(1\).png);
  background-repeat: no-repeat;
  width: 320px;
  height: 934px;
    .button{
      width: 280px;
      height: 76px;
    }
    .dom{
      display: flex;
      flex-direction: column-reverse;
    }
    h1{
      font-size: 18px;
      margin-left: 0px;
      padding-top: 40px;
      width: 208px;
      padding-left: 15px;
    }
    h3{
      font-size: 18px;
      margin-left: 0px;
      width: 280px;
      padding-left: 15px;
    }
    .pole{
      width: 280px;
      height: 76px;
      padding-left: 10px;
    }
}
  .rental button{
    width: 280px;
    height: 76px;
    padding-left: 10px;
  }
.rental .opisan p {
  font-size: 14px;
  width: 280px;
  padding-left: 15px;
}
.rental .razmer {
  font-size: 15px;
  width: 246px;
  padding-left: 15px;
}
.premium{
  h1{
    font-size: 18px;
    width: 250px;
  }
  .arenda{
    display: flex;
    flex-direction: column;
  }
  .bl1{
    width: 280px;
    height: 418px;
    margin-bottom: 25px;
  }
  .bl1 p{
    width: 200px;
    font-size: 14px;
    padding-top: 10px;
  }
  img{
    width: 280px;
    height: 190px;
  }
  .bl1 h2{
      width: 194px;
      font-size: 16px;
  }
}
.steps{
  .ger{
    width: 200px;
    font-size: 18px;
    text-align: start;
    margin-left: 15px;
  }
  .shagi{
    display: flex;
    flex-direction: column
  }
  .bl2{
    width: 280px;
    height: 266px;
    display: block;
    margin-bottom: 15px;
  }
.bl2 p{
  width: 215px;
  font-size: 14px;
}
.bl2 h5{
  font-size: 16px;
 }
 .bl2 img{
  padding-top: 20px;
 }
}
.skidocki{
  background-image: url(img/бг\ \(2\).png);
  background-repeat: repeat;
  width: 320px;
  height: 1048px;
  .skidki{
    display: flex;
    flex-direction: column-reverse;
  }
  .bl4{
    width: 280px;
    height: 364px;
    margin-top: 25px;
  }
  .bl4 img{
    width: 280px;
    height: 190px;
  }
  .bl4 h3{
    font-size: 16px;
    width: 213px;
  }
  .bl4 p{
    font-size: 14px;
    width: 220px;
  }
  .bl3{
    margin-right: 15px;
    margin-top: -20px;
    p{
      width: 280px;
      font-size: 18px;
    }
  }
  .greyy{
    font-size: 14px;
    width: 280px;
  }
}
.nashiuslug{
  .usl{
    font-size: 18px;
    padding-left: 15px;
  }
  .uslygi{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .bl5{
    margin-left: -20px;
  }
  .bl5 img{
    width: 280px;
    height: 190px;
  }
  .bl5 p{
    font-size: 16px;
    width: 180px;

  }
}
.prichini{
  margin-bottom: 45px;
  .f{
   font-size: 18px;
   width: 150px;
   margin-left: -25px;
  }
  ul{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }
  img{
    width: 80px;
    height: 80px;
  }
  h1{
    font-size: 16px;
  }
  .b{
    font-size: 14px;
    width: 184px;
  }
}
.inostran{
  background-image: url(img/бг\ \(3\).png);
  background-repeat: no-repeat;
  width: 320px;
  height: 1566px;
  .angl{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: -350px;
  }
  .text-s9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
  }
  .s{
    font-size: 18px;
    width: 250px;
    padding-left: 5px;
  }
  .p{
    font-size: 18px;
    width: 280px;
    padding-left: 25px;
  }
  .greyyy{
   font-size: 18px;
   width: 280px;
   padding-left: 25px;
  }
  .k{
    width: 280px;
    height: 210px;
    padding-left: 135px;
    
  }
  .rus{
    display: flex;
    flex-direction: column;
  }
  .iconki img{
    width: 21px;
    height: 21px;
  }
  .li{
    display: flex;
    flex-direction: column;
  }
  .h{
    width: 280px;
    height: 210px;
    padding-left: 0px;
  }
  .j{
    width: 250px;
    font-size: 18px;
    padding-left: 150px;
   } 
  .greyyyy{
      font-size: 14px;
      width: 280px;
      padding-left: 150px;
     }
  .iconki{
    padding-left: 10px;
  }
  }
  .logotip{
    width: 320px;
    height: 347px;
    .s10{
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 320px;
      height: 347px;
      justify-content: center;
    }
  }
  .voprosi{
    padding-top: 30px;
    .s11{
      display: flex;
      flex-direction: column-reverse;
      img{
        width: 144px;
        height: 225px;
      }
      h1{
      padding-left: 20px;
       font-size: 18px;
       width: 250px; 
      }
      p{
        font-size: 14px;
        width: 280px;
        padding-left: 20px;
        padding-top: 0px;
      }
      b{
        font-size: 18px;
        width: 202px;
        padding-left: 20px;
        padding-top: 0px;
        padding-bottom: 40px
      }
      .fot{
        width: 280px;
        height: 76px;
        padding-left: 0px;
      }
      .fot::placeholder{
        padding-left: 50px;
      }
      button{
        width: 280px;
        height: 76px;
      }
    }
  }
  footer{
    width: 320px;
    height: 806px;

    .fot{
      display: flex;
      flex-direction: column;
      .fot1{
        h1{
          font-size: 28px;
          padding-left: 20px;
        }
        .nom{
          display: flex;
          flex-direction: column;
          padding-left: 20px;
          padding-top: 0px;
          button{
            width: 280px;
            height: 56px;
            margin-left: -15px;
          }
        }
        .poch{
          padding-left: 0px;
        }
        .soceti{
          padding-left: 0px;
        }
       
      }
      .fot2{
        .g2{
          padding-left: 0px;
        }
        .g3{
          padding-left: 0px;
        }
      }
    }
    ul{
      display: flex;
      flex-direction: column;
    }
  .p{
    display: none;
  }
  }
}
